.Main {
  text-align: center;
  background-color: #282c37;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 0.8vw);
  color: white;
}

* {
  padding: 0;
  margin: 0;
}

.Main-body {
  background-color: #1d1f27;
  border-radius: 1.5vh;
  min-height: 70vh;
  width: 67vw;
}

@media screen and (max-width: 1200px) {
  .Main-body {
    width: 70vw;
  }
}

@media screen and (max-width: 800px) {
  .Main-body {
    width: 80vw;
  }
}

.Main-link {
  color: #61dafb;
}

.Pytanie, .Start, .End {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}


.Pytanie-img, .Start-img, .End-img {
  margin: 1vh 0;
  min-height: 20vh;
  width: 90%;
}
.Pytanie-img-img, .Start-img-img, .End-img-img {
  max-height: 100%;
  max-width: 100%;
}

.Pytanie-header-title{
  background-color: #23252e;
  width: 100%;
}

.Pytanie-header{
  min-height: 27vh;
  padding: 0.2vw;
}

.Pytanie-body {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  margin-bottom: 1vh;

}

.End-body, .Start-body {
  padding: 5vh;
}

.Btn {
  flex-grow: 1;
  background-color: #2f323f;
  border-radius: 10px;
  border: none;
  width: 32vw;
  height: 95%;
  margin: 0.8vh 0.4vw;
  padding: 0.5vw;
  font-size: calc(5px + 1.4vmin);
  color: #c1c8c9;
  cursor: pointer;
}
